/* _layout.scss */

.main-container {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 160px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 30px;
    position: relative;
    min-height: 100vh;
}

.content-area {
    flex: 1;
}