/* main.scss */
// 1. Configurações e Ferramentas
@use 'variables' as *;
@use 'mixins' as *;
// 2. Base
@import 'base';
// 3. Layout e Estrutura
@import 'layout';
// 4. Componentes 
@import 'header';
@import 'sidebar';
@import 'products';
@import 'pagination';
@import 'modal';
@import 'login-modal';
@import 'profile-modal';
@import 'forgot-password-modal';
@import 'cart';
@import 'footer';
@import 'admin';
@import 'category-manager';
@import 'activity-logs';
@import 'orders';
// 5. Responsividade Global
@import 'responsive';